@using v1370
@model v1370.MyViewComponentViewModel

<div class="my-form">
    <!-- Render form, or whatever content -->
    <p>This is my ViewComponent output!</p>
    <p>Viewcomponent Model test2 property value: @Model.Test2</p>
    
    @using(Html.BeginUmbracoForm<SecondaryFormController>(nameof(SecondaryFormController.MyTest), "Update")) 
    {
        
        @Html.HiddenFor(m => m.SomeHiddenField1)
        @Html.HiddenFor(m => m.SomeHiddenField2)
        @Html.HiddenFor(m => m.SomeHiddenField3)
         
    
        <div>
            @Html.DropDownListFor(m => m.MyDropDownList, Model.MyDropDownListItems,"-- Please select --")
        </div>
        
        <div>
            <h3>TextBox:</h3>
            @Html.TextAreaFor(m => m.Test2)
        </div>
        <button type="submit">Update</button>
    }
</div>
